@(wastedTime: WastedTime, tftWastedTime: WastedTime)(self: String)

<html>
<body style="font-size: 15px;">

<div style="width: 100%; background-color: #E2DDD5;">
    <div style="background-color: #141414; width: 100%; text-align: center;"><img src="@self/assets/wasted.png"></div>
    <h1 style="font-size: 30px; font-weight: lighter; color: #757575; padding-left: 15px; padding-right: 15px;">Dear summoner @{wastedTime.summonerName},</h1>

    <div style="padding-left: 15px; padding-right: 15px;">
        @if(wastedTime.isEmpty) {
        <p style="margin: 0;">You have no match records... at least for the two past years.</p>
        <p style="margin: 0;">That's nice. Keep going.</p>
        } else {
        <p style="margin: 0;">You have wasted so much time on LoL... <b style="color: #D90429">@{wastedTime.numberOfGames}</b> games since @{wastedTime.begin.toLocalDate.toString}!</p>
        <p style="margin: 0;">It represents @{wastedTime.gameTime.total} seconds of your life, in others terms:
        <p style="color: #D90429; font-weight: bold; font-size: 18px; text-align: center;">@{wastedTime.gameTime.days} days, @{wastedTime.gameTime.hours}
        hours, @{wastedTime.gameTime.minutes} and @{wastedTime.gameTime.seconds}
        seconds...</p>
        <p style="margin: 0;">That's a lot bro.</p>
        }
    </div>

    <div style="padding-left: 15px; padding-right: 15px;">
        @if(tftWastedTime.isEmpty) {
        <p style="margin: 0;">You have no TFT match records... at least for the two past years.</p>
        <p>Well, I guess that's cool.</p>
        } else {
        <p style="margin: 0;">So many games you made on TFT... <b style="color: #D90429">@{tftWastedTime.numberOfGames}</b> games since @{tftWastedTime.begin.toLocalDate.toString}!</p>
        <p style="margin: 0;">It represents @{tftWastedTime.gameTime.total} seconds of your life, in others terms:</p>
        <p style="color: #D90429; font-weight: bold; font-size: 18px; text-align: center;">@{tftWastedTime.gameTime.days} days, @{tftWastedTime.gameTime.hours}
        hours, @{tftWastedTime.gameTime.minutes} and @{tftWastedTime.gameTime.seconds}
        seconds...</p>
        <p>Well done.</p>
        }
    </div>

    <div style="background-color: #141414; padding: 5px; text-align: center;">
        <table style="border: none; color: white; width: 100%; text-align: center;">
            <tr>
                <td style="border: none; color: white;"></td>
                <td style="border: none; color: white;"><a href="https://twitter.com/maury_agnes" target="_blank"><img style="border-radius: 50%; width: 60px; height: 60px;" src="@self/assets/twitter.png"></a></td>
                <td style="border: none; color: white;"><a href="https://github.com/agnesmdev/riot-statistics" target="_blank"><img style="border-radius: 50%; width: 60px; height: 60px;" src="@self/assets/github.png"></a></td>
                <td style="border: none; color: white;"><a href="http://agnesm.dev/" target="_blank"><img style="border-radius: 50%; width: 60px; height: 60px;" src="@self/assets/globe.png"></a></td>
                <td style="border: none; color: white;"><a href="https://www.linkedin.com/in/agnes-maury/" target="_blank"><img style="border-radius: 50%; width: 60px; height: 60px;" src="@self/assets/linkedin.png"></a></td>
                <td style="border: none; color: white;"></td>
            </tr>
            <tr>
                <td style="border: none; color: white; font-size: 12px;" colspan="6">&#64;2020 Agnès M.</td>
            </tr>
            <tr>
                <td style="border: none; color: white; font-size: 12px;" colspan="6"></td>
            </tr>
            <tr>
                <td style="border: none; color: white; font-size: 10px;" colspan="6">Icon made by <a href="https://www.flaticon.com/authors/freepik" target="_blank">Freepik</a> from www.flaticon.com</td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>